@import 'conference_colors';

#accordion div h4:before {
    background: $conference-color url('../img/plus.png') center center no-repeat;
}

#accordion div.active h4:before {
    background: $conference-color url('../img/minus.png') center center no-repeat;
}

.sidebar h4 {
    color: $conference-color;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: $conference-color !important;
}
.service-fancybox:hover i {
    color: $conference-color;
}

.service-fancybox:hover {
    background: $conference-color;
}

.service-fancybox.featured {
    background: $conference-color;
}

.service-fancybox.featured .circleicon i {
    color: $conference-color;
}

.service-fancybox.black .circleicon i {
    color: $conference-color;
}

#skill i {
    background: $conference-color;
}

.landingpage-button {
    color: $conference-color;
}

.landingpage-button {
    color: $conference-color;
}

.landingpage-button span {
    color: $conference-color;
}

.landingpage-button strong {
    color: $conference-color;
}

.landingpage-button i {
    color: $conference-color;
}

.grey-box-icon:hover .fontawesome-icon.circle-white, 
.grey-box-icon.active .fontawesome-icon.circle-white, 

.drop-cap, 
.captionicons {
    background: $conference-color;
}

.copyright {
    background-color: $conference-color;
}

/*--------------------------------------------------	HEADER---------------------------------------------------*/
.toparea {
	background:#222;
	font-size:12px;
	color:#ccc;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:75px;
}
.toparea a {
	color:#ccc;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.toparea .separator {
	display:inline-block;
	width:1px;
	height:10px;
	border-left:solid 1px #ccc;
	margin:0 20px 0 20px;
}
.toparea .pull-left {margin-top: -3px;}

.top-nav a {
	display:inline-block;
	margin:0px 10px;
	font-size:16px;
	color:#999;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.top-nav a:hover {
	color:#fff;
}

.top-text a:hover {
	color:#fff;
}

.wowmenu {
	color: #fff
}
.wowmenu.tiny {
	top:0;
	padding-top:10px;
	padding-bottom:10px;
}
.wowmenu.tiny .navbar-nav>li>a {
	line-height:24px;
	margin-top:-26px;
	padding-top:30px;
	margin-bottom:-20px;
	padding-bottom:16px;
}
.navbar-brand img {
	max-width:100%;
}
.wowmenu.tiny .navbar-brand img {
	max-width:85%;
}
.semiboxshadow {
	display: none;
}

/* =============================================================== */
/*FONT AWESOME ICONS================================================================ */
.social-icons a {
	display:inline-block;
	width:32px;
	margin:0px 10px;
	font-size:16px;
	color:#999;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
@font-face {
	font-family:'FontAwesome';
	src:url('font-awesome/fontawesome-webfont.eot?v=3.2.1');
	src:url('font-awesome/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('font-awesome/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('font-awesome/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('font-awesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight:normal;
	font-style:normal;
}
[class^="icon-"],[class*=" icon-"] {
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	-webkit-font-smoothing:antialiased;
	*margin-right:.3em;
}
[class^="icon-"]:before,[class*=" icon-"]:before {
	text-decoration:inherit;
	display:inline-block;
	speak:none;
}
a [class^="icon-"],a [class*=" icon-"] {
	display:inline;
}
.pull-right {
	float:right;
}
.pull-left {
	float:left;
}
[class^="icon-"].pull-left,[class*=" icon-"].pull-left {
	margin-right:.3em;
}
[class^="icon-"].pull-right,[class*=" icon-"].pull-right {
	margin-left:.3em;
}
[class^="icon-"],[class*=" icon-"] {
	display:inline;
	width:auto;
	height:auto;
	line-height:normal;
	vertical-align:baseline;
	background-image:none;
	background-position:0% 0%;
	background-repeat:repeat;
	margin-top:0;
}
.icon-stack [class^="icon-"],.icon-stack [class*=" icon-"] {
	display:block;
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
	font-size:1em;
	line-height:inherit;
	*line-height:2em;
}

.icon-twitter:before {
	content:"\f099";
}
.icon-bitbucket:before {
	content:"\f171";
}
.icon-github-alt:before {
	content:"\f113";
}
.icon-github-sign:before {
	content:"\f092";
}.icon-github:before {
	content:"\f09b";
}


.icon-google-plus-sign:before {
	content:"\f0d4";
}
.icon-google-plus:before {
	content:"\f0d5";
}

.fontawesome-icon.circle-white {
    color: $conference-color;
}
