<!--suppress HtmlUnknownAnchorTarget -->
<nav class="navbar  navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-nav" href='#home' du-smooth-scroll du-scrollspy data-offset="120"><img src="/images/logo.png" alt="logo"/></a>
        </div>
        <div id="nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href='#when' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Register')" >Register</a></li>-->
                <li><a href='#blog' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Blog')">Blog</a></li>
                <li><a href='#speakers' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Speakers')">Speakers</a></li>
                <li><a href='#agenda' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Agenda')">Agenda</a></li>
                <li><a href='#sponsors' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Sponsors')">Sponsors</a></li>
                <li><a href='#presentations' du-smooth-scroll du-scrollspy data-offset="120" ng-click="registerClick('Navigation','Presentations')">Presentations</a></li>
                <li><a href='#about' du-smooth-scroll du-scrollspy  data-offset="120" ng-click="registerClick('Navigation','About')">About</a></li>
                <li class="dropdown" >
                    <a href="#" ng-click="login()" ng-show="loginEnabled && !isLoggedIn">Login</a>
                </li>
                <li><a href="#" ng-click="logout()" ng-show="loginEnabled && isLoggedIn">Logout</a></li>

                <!--<li class="dropdown" ng-show="loginEnabled && isLoggedIn">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.name}} <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#" ng-click="logout()">Logout</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul>
        </div>
    </div>
</nav>
