<section id="history" class="dark pageheader-default text-center">
    <h1 class="large">GR8Conf History</h1>

    <div  class="container page-description">    <p>
        In this video the GR8Conf founders,<br/> Guillaume Laforge and Søren Berg Glasius,<br/>
        gives you a little bit of history...
    </p>

        <div class="video">

            <iframe class="youtube" allowfullscreen="" frameborder="0" src="//www.youtube.com/embed/ZSeDNAic5Fs?rel=0" ></iframe>

        </div>
        <p>
            The conference series were founded in 2009 by Guillaume Laforge and Søren Berg Glasius.
            After the first edition of the conference in Europe, the GR8Conf name was used in the US.
            The next GR8Conf US is 2014, July 28th-29th, Minneapolis, MN, USA
        </p></div>

</section>
