<section id="speakers" class="meet-speakers" ng-controller="SpeakerCtrl">
	<div class="container animated fadeInUpNow notransition">
		<h1 class="text-center">Meet The Speakers</h1>
		<div class="col-md-12  animated slidea notransition">
            <div ng-repeat="speakerGroup in speakers">
                <div class="row">
                    <div ng-repeat="speaker in speakerGroup">
                        <speaker speaker="speaker"></speaker>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
