<section id="presentations" class="meet-speakers" ng-controller="TalksCtrl">
	<div class="container animated fadeInUpNow notransition">
		<h1 class="text-center">Presentations</h1>
		<div class="col-md-12 animated slidea notransition">
            <div ng-repeat="talkGroup in talkGroups">
                <div class="row">
                    <div ng-repeat="talk in talkGroup">
                        <talk talk="talk"></talk>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
