<section id="sponsors" class="semitransparentbg  pageheader-default text-center" ng-controller="SponsorsCtrl">

    <h1 class="large">Sponsors</h1>

    <div class="container page-description sponsors">

        <div class="row platinum">
            <div class="col-xs-12">
                <h3>Platinium</h3>
            </div>
            <div class="col-xs-12">
                <a href="" ng-click="showSponsor('pivotal')"><img src="/images/sponsors/pivotal-framed.png"/></a>
            </div>
        </div>
        <div class="row gold">
            <div class="col-xs-12">
                <h3>Gold</h3>
            </div>
            <div class="col-xs-12">
                <a ng-click="showSponsor('nineconsult')"><img src="/images/sponsors/nineconsult-framed.png"/></a>
            </div>
        </div>
        <div class="row silver">
            <div class="col-xs-12">
                <h3>Silver</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="" ng-click="showSponsor('openminds')"><img src="/images/sponsors/openminds-framed.png"/></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="" ng-click="showSponsor('jdriven')"><img src="/images/sponsors/jdriven-framed.png"/></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="" ng-click="showSponsor('objectpartners')"><img src="/images/sponsors/opi-framed.png"/></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-2 ">
                <a href="" ng-click="showSponsor('cygnet-infotech')"><img src="/images/sponsors/cygnet-infotech-framed.png"/></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-2 ">
                <a href="" ng-click="showSponsor('codecentric')"><img src="/images/sponsors/codecentric-framed.png"/></a>
            </div>
        </div>
        <div class="row hosting">
            <div class="col-xs-12 col-md-4">

                <h3>Organizers</h3>
                <a ng-click="showSponsor('gennemtaenkt')"><img class="" src="/images/sponsors/gennemtaenkt-framed.png"/></a>
            </div>

            <div class="col-xs-12 col-md-4">
                <h3>Hosting</h3>

                <a ng-click="showSponsor('easyspeedy')"><img class="hosting" src="/images/sponsors/easy-speedy-framed.png"/></a>
            </div>
            <div class="col-xs-12 col-md-4">

                <h3>Collaborating JUG</h3>
                <a ng-click="showSponsor('javagruppen')"><img class="hosting" src="/images/sponsors/javagruppen-framed.png"/></a>
            </div>

        </div>
    </div>

</section>
