<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GR8Conf Europe 2014</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://gr8conf.eu/images/gr8conf_fb.png"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/mobile.css">
    <!-- endbuild -->
</head>
<body ng-app="gr8appApp" ng-controller="MainCtrl" data-spy="scroll" data-offset="120" data-target=".navbar-fixed-top">

<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

    <div ng-view=""></div>
<ng-include src="'views/partials/navigation/_siteNav.html'"></ng-include>

<ng-include src="'views/partials/_header.html'"></ng-include>
<ng-include src="'views/partials/_when-static.html'"></ng-include>
<!-- TODO: uncomment this when we want to start displaying speaker information -->
<ng-include ng-if="FEATURES.blog" src="'views/partials/_blog.html'"></ng-include>
<ng-include ng-if="FEATURES.speakers" src="'views/partials/_meetSpeakers.html'"></ng-include>
<!--ng-include src="'views/partials/_call-for-papers.html'"></ng-include> -->
<ng-include ng-if="FEATURES.agenda" src="'views/partials/_agenda.html'"></ng-include>

<ng-include src="'views/partials/_sponsors-static.html'"></ng-include>
<!--<ng-include src="'views/partials/_agenda.html'"></ng-include>-->
<ng-include ng-if="FEATURES.talks" src="'views/partials/_presentations.html'"></ng-include>
<ng-include src="'views/partials/_about-crew.html'"></ng-include>
<ng-include src="'views/partials/_about-history.html'"></ng-include>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-119947-10');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/jquery.tinynav/tinynav.js"></script>
<script src="bower_components/angularytics/dist/angularytics.min.js"></script>
<script src="bower_components/oauth-js/oauth.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="scripts/config.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/navigationservices.js"></script>
<script src="scripts/services/dataservice.js"></script>
<script src="scripts/services/blogservice.js"></script>
<script src="scripts/services/modalservice.js"></script>
<script src="scripts/services/storage.js"></script>
<script src="scripts/services/backend.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/speakers.js"></script>
<script src="scripts/controllers/talks.js"></script>
<script src="scripts/controllers/agenda.js"></script>
<script src="scripts/controllers/sponsors.js"></script>
<script src="scripts/controllers/blog.js"></script>
<script src="scripts/controllers/crew.js"></script>

<script src="scripts/directives/speaker.js"></script>
<script src="scripts/directives/agendaItem.js"></script>
<script src="scripts/directives/breakItem.js"></script>
<script src="scripts/directives/agendaTrack.js"></script>
<script src="scripts/directives/talk.js"></script>
<script src="scripts/directives/blogdirective.js"></script>
<script src="scripts/directives/favoriteDirective.js"></script>
<script src="scripts/directives/ratingDirective.js"></script>
<script src="scripts/directives/crew.js"></script>
<!-- endbuild -->
</body>
</html>
