<div class="modal-header">
    <img src="{{speaker.image}}" class="rating-image img-circle pull-right"/>
    <h3>Talk: {{talk.title}}</h3>

    <h3>Presented by {{speaker.name}} ({{speaker.company}})</h3>
</div>
<div class="modal-body rating">
    <h4>Rate the presentation:</h4>

    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="talkQuality">Quality <i class="fa fa-info-circle"  tooltip="Overall quality of slides, material, demos etc?" tooltip-placement="right"></i>:</label>

            <div class="col-sm-9 form-control-static input-sm">
                <rating name="talkQuality" ng-model="data.talkQuality" max="5" on-hover="showTalkQuality(value)" on-leave="showTalkQuality(data.talkQuality)"></rating>
                <br/>
                <small>{{talkQuality}}</small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="talkRelevance">Relevance <i class="fa fa-info-circle"  tooltip="How relevant was this content to you?" tooltip-placement="right"></i>:</label>

            <div class="col-sm-9 form-control-static input-sm">
                <rating name="talkRelevance" ng-model="data.talkRelevance" max="5" on-hover="showTalkRelevance(value)" on-leave="showTalkRelevance(data.talkRelevance)"></rating>
                <br/><small>{{talkRelevance}}</small>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="talkLeve">Level <i class="fa fa-info-circle"  tooltip="Did *you* get it? How was this sessions level" tooltip-placement="right"></i>:</label>

            <div class="col-sm-9 form-control-static input-sm">
                <rating name="talkLevel" ng-model="data.talkLevel" max="5" on-hover="showTalkLevel(value)" on-leave="showTalkLevel(data.talkLevel)"></rating>
                <br/>
                <small>{{talkLevel}}</small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="talkComment">Comments <i class="fa fa-info-circle"  tooltip="Be verbose. What did you like? What did you not like?" tooltip-placement="right"></i>:</label>

            <div class="col-sm-9">
                <textarea class="input-sm form-control" name="talkComment" ng-model="data.talkComment" style="height: 60px"></textarea>
            </div>
        </div>
    </div>

    <h4 class="pad-top-30">Rate the speaker:</h4>

    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="speakerQuality">Quality <i class="fa fa-info-circle"  tooltip="How do you rate the speakers performance?"  tooltip-placement="right"></i>:</label>

            <div class="col-sm-9 form-control-static input-sm">
                <rating name="speakerQuality" ng-model="data.speakerQuality" max="5" on-hover="showSpeakerQuality(value)" on-leave="showSpeakerQuality(data.speakerQuality)"></rating>
                <br/><small>{{speakerQuality}}</small>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label input-sm" for="speakerComment">Comments  <i class="fa fa-info-circle"  tooltip="Give kudos, or help the speaker improve his presentation kung-fu" tooltip-placement="right"></i>:</label>

            <div class="col-sm-9">
                <textarea class="input-sm form-control" name="speakerComment" ng-model="data.speakerComment" style="height: 60px"></textarea>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>