<div class="modal-header">
    <h3>Logout</h3>
</div>
<div class="modal-body">
    <p>When you logout, you will not be able to manage your favorites and rate talks...</p>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="logout()">Logout</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>