<div class="modal-header">
        <h3>Login <small>sponsored by: <a href="http://oauth.io" target="_BLANK"><img src="/images/sponsors/oauth_io.png" style="vertical-align: bottom" alt="Oauth.IO"/></a></small></h3>
</div>
<div class="modal-body">
    <p>Please select your favorite login provider:</p>
    <div class="row">
        <div class="col-sm-12 col-md-4 pad-top-10">
            <button ng-click="login('twitter')" class="btn btn-lg btn-info"><i class="fa fa-lg fa-twitter"></i> Twitter</button>
        </div>
        <div class="col-sm-12 col-md-4 pad-top-10">
            <button ng-click="login('google')" class="btn btn-lg btn-info"><i class="fa fa-lg fa-google-plus"></i> Google</button>
        </div>
        <div class="col-sm-12 col-md-4 pad-top-10">
            <button ng-click="login('github')" class="btn btn-lg btn-info"><i class="fa fa-lg fa-github"></i> GitHub</button>
        </div>

    </div>
    <p class="pad-top-30"><em>Note: </em>Login requires a popup window. Please allow it to run!</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>