<div class="modal-header">
    <div style="float: right"><small>{{formatDate(post.date)}}</small></div>
    <h3>{{post.title}}</h3>
</div>
<div class="modal-body">
    <p ng-bind-html="post.body"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="open(post.short_url)">Open on Tumblr</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>