<div class="modal-header">
    <img src="/images/sponsors/codecentric-188x48.png"/>
</div>
<div class="modal-body">
    <p>As an expert in custom software development, codecentric AG is the leader for agile
        software development and innovative technologies in Germany.</p>

    <p>codecentric develops
        software solutions for the future - everyone of our 220 employees in each of our seven
        locations in Germany and Europe is passionate about this claim. codecentric combines
        the know-how of the best IT-architects and software developers in Germany with
        practical knowledge from numerous projects in areas such as continuous delivery, big
        data, performance solutions, agile and enterprise software development and maintains
        partnerships with leading solutions partners.</p>
    <p>For further information please visit our website</p></div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://codecentric.de')">Visit www.codecentric.de</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>