<div class="modal-header">
    <img src="/images/sponsors/easyspeedy_black_270x70.png"/>
</div>
<div class="modal-body">
    <p>
        EasySpeedy is an innovative European dedicated server provider specialized in offering unmanaged hosting to
        clients
        who demand full control through extensive remote access. As such we are addressing the growing needs for hosting
        services which offer little or no restrictions on how clients deploy their computing resources.
    </p>

    <p>
        Based in Copenhagen, Denmark, we have been around since 2001 and our clients reside in over 80 countries.
    </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://easyspeedy.com')">Visit www.easyspeedy.com</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>