<div class="modal-header">
    <img src="/images/sponsors/gennemtaenkt_282x81.png"/>
</div>
<div class="modal-body">
    <p>
        Gennemtænkt IT is a software shop and consultancy that specializes in Groovy and Grails.
    </p>

    <p>The company develops and maintains software systems primarily based on Groovy, Grails and Java. We have
        successfully served customers in finance and economics, logistics, and health care.</p>

    <p>We've been on the G&G wagon since before 1.0 - and we're still spreading the love.
    </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://gennemtaenkt.dk')">Visit www.gennemtænkt.dk</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>