<div class="modal-header">
    <img src="/images/sponsors/javagruppen_282x81.png"/>
</div>
<div class="modal-body">
    <p>
        Javagruppen is the Danis JUG, founded in 1996. We meet on a regular basis talking about subjects, related to
        Java and the JVM. We invite speakers from all over the world to speak about interesting subjects in the Java
        space.
    </p>

    <p>
        Javagruppen is the co-organizing JUG of GR8Conf
    </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://javagruppen.dk')">Visit www.javagruppen.dk</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>