<div class="modal-header">
    <img src="/images/sponsors/jdriven_188x58.png"/>
</div>
<div class="modal-body">
    <p>JDriven is specialized in software design, delivery & consulting with a primary focus on enterprise Java and open
        source.</p>

    <p>We support and enlarge the success of our clients by realizing innovative and high quality software systems while
        sharing our drive, craftsmanship and in depth knowledge.</p>

    <p>We focus on technologies like Gradle, Grails, Spring and AngularJS.</p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://jdriven.nl')">Visit www.jdriven.nl</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>