<div class="modal-header">
    <img src="/images/sponsors/opi_black.png"/>
</div>
<div class="modal-body">
    <p>Object Partners, Inc is an IT consulting firm specializing in enterprise application development services since
        1996. Our success is based on a model of full-time employees with a strategic focus on utilizing both emerging
        and mature open source technologies to help clients deliver high quality software on time and within budget.
        Most recently, OPI has successfully built and deployed numerous large-scale consumer facing Grails applications,
        as well as several enterprise applications for various Android and iOS devices.</p>

        <p>Our deep roots in the JEE stack translate into open source expertise and a fundamental knowledge of how to build
        applications that are scalable, reliable, and can be easily maintained. Our services include project
        outsourcing, co-development, staff augmentation, and technology and process mentoring.
    </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://objectpartners.com')">Visit www.objectpartners.com</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>