<div class="modal-header">
    <img src="/images/sponsors/openminds_188x53.png"/>
</div>
<div class="modal-body">
    <p>OpenMinds is a danish software and consultancy company.</p>
    <p>Our area of expertise is enterprise software such as customer self service, order processing, billing,
        administration, integration and security.</p>
    <p>Our consultants are highly experienced and along the way, we have specialized in the technologies, we believe to
        be the best ones available.</p>
    <p>Among these, we consider Grails an excellent choice - combining the brevity of Groovy with the maturity of
        Spring.</p>
    <p><em>By the way</em>: We also offer training in Groovy and Grails.</p></div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://openminds.dk')">Visit www.openminds.dk</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>