<div class="breakItem text-left" style="top:{{topValue}}px;bottom:{{topValue+height}};max-height:{{height}}px;height:{{height}}px">
    <span class="agendaTalk">
        {{item.name}}
    </span>
</div>
