<div class="speaker col-md-4" id="speaker{{speaker.id}}">

    <accordion>
        <accordion-group>
            <accordion-heading>
                <div>
                    <div class="speakerDetail">
                        <img src="{{speaker.image}}" class="speakerImg img-circle pull-left"/>
                        <h4>{{speaker.name}}</h4>

                        <p>{{speaker.employer}}</p>

                        <div class="social-icons">
                            <a class="icon icon-twitter" href="http://twitter.com/{{speaker.twitter}}">{{speaker.twitter}}</a>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <h4 class="clearfix">Presentations</h4>

            <div ng-repeat="talk in speaker.talks">
                <a href="" ng-click="scrollTo('talk' + talk.id, 'speaker->talk',talk.title)">
                    {{talk.title}}
                </a>
            </div>
            <h4>Bio</h4>

            <div ng-bind-html="speaker.bio"></div>
        </accordion-group>
    </accordion>
</div>
